fastapi
python-multipart
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
bcrypt
boto3

diffusers
transformers
accelerate
scipy
safetensors

torchvision>=0.5.0
dominate
visdom>=0.1.8.8
wandb